@model LaunchCodeCapstone.Models.MovieEntry

<h1>Edit Movie</h1>

       
        <form asp-controller="MovieEntry" asp-action="Edit" method="post">

            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="Date">New Date:</label>
                <input class="form-control" min="2023-01-01" value="2023-01-01" type="date" asp-for="Date" asp-format="{0:yyyy-MM-dd}" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <label asp-for="NumRating">New Rating:</label>
                <input class="form-control" max="5" asp-for="NumRating" />
                <span asp-validation-for="NumRating" class="text-danger"></span>
            </div>

            <br />

            <button type="submit" class=" btn btn-primary" asp-controller="MovieEntry" asp-action="Edit">Save Edit</button>
            
  
        </form>

<br />

     @*        <form>
                <td>@Movie.MovieEntryId</td>
                <td><a asp-controller="Employer" asp-action="About" asp-route-id="@Movie.MovieEntryId">@Movie.Title</a></td>
                <td>@Movie.Date</td>
                <td>@Movie.NumRating</td>
                <td><a asp-controller="MovieEntry" asp-action="Edit" asp-route-id="/Edit">Edit</a></td>
                @*<td><a asp-controller="MovieEntry" asp-action="Delete" asp-route-id="/Delete">Delete</a></td>
                <td><button type="submit" class=" btn btn-danger" asp-controller="MovieEntry" asp-action="Delete">Delete</button></td>
            </form> *@


        


<a class="btn btn-primary" asp-controller="MovieEntry" asp-action="Create" role="button">Add New Movie</a>